<div class="row">
  <div class="auth-up container">
    <h2>International Space Station<br>Location</h2>
    <form (submit)="onLoginSubmit()">
      <div class="form-group">
        <input
          type="email"
          class="form-control input-sm"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Email"
          [(ngModel)]="email"
          name="email">
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control input-sm"
          id="exampleInputPassword1"
          placeholder="Password"
          [(ngModel)]="password"
          name="password">
      </div>
      <input type="submit" class="btn btn-primary input-sm" placeholder="Log in" style="width: 100%">
      <small id="emailHelp" class="form-text text-muted">
        Log in to see fun facts about the International Space Station
      </small>
    </form>
  </div>

  <div class="auth-down container">
    Don't have an account? <span class="signup" (click)="updateLogin()">Sign Up</span>
  </div>
</div>